.banner {
  height: 600px;
  color: white;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  /* width: 100%; */
  object-fit: cover;
  padding: 50px 50px;
}

.hero-text {
  margin-top: 200px;
}
